.nav-item {
  margin: 0;

  .nav-link {
    text-transform: capitalize;
    font-weight: 700;
  }
}
.fixed{
  position: fixed;
}

.navigation{
  width: 100vw;
  background-color: $body-color;
  //margin-top: .015vh;
}

.navigation.fixed{
  z-index: 3;
  box-shadow: 0 .5rem 1rem rgba($color: $primary-color, $alpha: .2);
}

@media only screen and (min-width: 992px) {
  .navbar-nav {
    height: 64px;
  }
}

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}

.lang-container {
  
  @extend .noselect;
  overflow: hidden;
  height: 64px;
  
  @media only screen and (min-width: 992px){
    width: 64px;
    transition: height .15s ease-in-out;
  }

  @media only screen and (max-width: 992px){
    
    width: 32px;

    align-self: center;
    transition: width .15s ease-in-out;

  }
  
  &.open {
    @media only screen and (min-width: 992px){
      height: 190px;
    }
    @media only screen and (max-width: 992px){
      width: 190px;
    }
    background-color: $primary-color;
    transition: height .15s ease-in-out;
  }

  .lang{
    display: flex;
    @media only screen and (min-width: 992px){
      flex-direction: column;
    }
    @media only screen and (max-width: 992px){
      flex-direction: row;
    }
  
    a {
      height: 64px;
      width: 64px;

      display: flex;
      justify-content: center;
      align-items: center;
  
      &.selected {
        order: -1
      }

      img {
        height: auto;
        width: 32px;
      }
    }
  }
}

#darkthemeToggle {
  font-size: 30px;
  margin-left: 8px;
  line-height: 58px;

  color: #0aa8a7 ;
  :hover{
    color :#0aa8a7 ;
  }
}

.navbar-light .navbar-nav .nav-link {
  color: $text-color-dark;

  &:hover {
    color: $primary-color;
  }
}

.navbar-expand-lg .navbar-nav .nav-link {
  padding: 20px;

  @include desktop {
    padding: 10px;
  }
}
.darktheme{
  .navigation{
    background-color: $dt-body-color;
  }

  .open{
      background-color: $dark;
  }
  .lang,
  .navbar-toggler{
    color: $white;
  }

  .nav-item {
    margin: 0;
  
    .nav-link {
      text-transform: capitalize;
      font-weight: 700;
    }
  }
  
  .navbar-light .navbar-nav .nav-link {
    color: $dt-text-color-dark;
  
    &:hover {
      color: $primary-color;
    }
  }
  
  .navbar-expand-lg .navbar-nav .nav-link {
    padding: 20px;
  
    @include desktop {
      padding: 10px;
    }
  }
}